<section>
  <header>
    <h1 class="text-primary-50">Configurações</h1>
  </header>
  <div class="container">
    <div class="artes-insta">
      <div class="box">
        <div class="storie">
          <!-- <img [src]="api+'/produto/download/story.jpeg'" alt="storie"> -->
          <img [src]="imagemService.getImagemUrl('story.jpeg', 'produtos')" alt="storie">
          <p>Arte para os Stories</p>
        </div>

        <div class="feed">
          <img [src]="imagemService.getImagemUrl('feed.jpeg', 'produtos')" alt="storie">
          <p>Arte para o Feed de Ofertas</p>
        </div>
      </div>

      <div class="enviar">


        <p-fileUpload styleClass="mt-2" mode="basic" chooseLabel="Choose" name="demo[]" accept="image/*"
          (maxFileSize)="1000000000000" (onSelect)="onFileChange($event)"></p-fileUpload>

        <p-button (onClick)="salvarStory()" label="Submit"></p-button>
      </div>

      <p>Para fazer o envio de uma nova Arte, Precisa está com os seguintes nomes, story.jpeg & feed.jpeg</p>
    </div>

    <div class="flex flex-column gap-2 mb-2">
      <div class="robo">
        <span>🤖</span>
        <div>
          <p> {{ check === true ? 'Robô ativado' : 'Robô destativado' }}</p>
          <p-inputSwitch (onChange)="ativarBot()" id="check" name="check" [(ngModel)]="check" />
        </div>

      </div>

      <div class="bg-blue-400 h-6rem border-round flex">
        <div class="bg-white w-4 h-full border-round-left">
          <span class="text-7xl">⌚</span>
        </div>
        <div class="p-2 flex flex-column justify-content-around">
          <p>Tempo do Robô</p>
          <input class="w-full h-2rem" (change)="mudarTempoDoRobo()" [(ngModel)]="tempoDoRobo" placeholder="Informe o Tempo" type="text"
            pInputText />
        </div>
      </div>

      <div class="bg-orange-300 h-6rem border-round flex">
        <div class="bg-white w-4 h-full border-round-left">
          <span class="text-7xl">🔗</span>
        </div>
        <div class="p-2 flex flex-column justify-content-around">
          <p>Ativar Link curto</p>
          <p-inputSwitch (onChange)="ativarLinkCurto()" id="check" name="check" [(ngModel)]="linkAtivado" />
        </div>
      </div>

      <div class="bg-orange-300 h-6rem border-round flex">
        <div class="bg-white w-4 h-full border-round-left">
          <span class="text-7xl">🔗</span>
        </div>
        <div class="p-2 flex flex-column justify-content-around">
          <p>Ativar Link sem dominio</p>
          <p-inputSwitch (onChange)="ativarLinkSemDominio()" id="check" name="check" [(ngModel)]="linkSemDominioAtivado" />
        </div>
      </div>
    </div>
  </div>


</section>
