<section>
  <div class="header">

    <div class="img-mobile">
      <img src="" alt="">
    </div>

    <div class="texto">
      <p>
        Quer ter acesso aos melhores cupons e ofertas do Brasil.
      </p>
    </div>
    <div class="links">
      <div>
        <a href="">WhatsApp</a>
        <a class="mobile-des" href="">Telegram</a>
      </div>
    </div>

    <div class="texto">
      <p>
        Junte-se a nós e venha economizar
      </p>
    </div>

    <div class="links-mob">
      <div>
        <a class="" href="">Telegram</a>
      </div>
    </div>
  </div>

  <div class="frase">
    <div>
      <p>
        A Sergipe Ofertas é uma plataforma gratuita criada para você internauta, com a finalidade de divulgar ofertas, descontos e promoções de produtos e/ou serviços.
      </p>
    </div>
  </div>
</section>
