.header{
  height: 300px;
  background-color: #F0A11F;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  height: calc(100vh - 176px);
}

.frase{
  background-color: white;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frase div:last-child{
  width: 50%;
  font-size: 30px;
  text-align: center;
  color: rgb(58, 58, 58);
}

.texto{
  width: 500px;
  text-align: center;
}

.texto p{
  color: white;
  font-size: 30px;
}

.links{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 240px;
}

.links div{
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.links div a{
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

.links-mob{
  display: none;
}

.links div a:first-child{
  background-color: #25d366;
}

.links div a:nth-child(2){
  background-color: #0088cc;
}

@media screen and (max-width: 600px){
  .header{
    flex-direction: column;
    height: calc(100vh - 106px);
    justify-content: initial;
  }

  .mobile-des{
    display: none;
  }

  .links{
    height: auto;
  }

  .texto{
    width: 80%;
  }

  .texto p{
    font-size: 20px;
  }

  .frase{
    display: none;
    /* background-color: #cf0013; */
    height: auto;
  }

  .frase div:first-child{
    font-size: 25px;
    width: 100%;
    text-align: center;
  }

  .frase div:last-child{
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: rgb(58, 58, 58);
  }

  .links-mob div a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
  }

  .links-mob div a{
    background-color: #0088cc;
  }

  .links-mob div{
    display: flex;
    flex-direction: column;
    width: 300px;
    /* height: 240px; */
  }

  .img-mobile{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
  }

  .img-mobile img{
    /* width: 100%; */
    /* height: 100%; */
    object-fit: contain;
  }
}
