<section>
  <div class="header">
    <div class="texto">
      <p>
        Em busca de preços acessíveis? Acompanhe o Julius da Promo!
      </p>
    </div>
    <div class="links">
      <div>
        <a href="">WhatsApp</a>
        <a href="">Telegram</a>
      </div>
    </div>
  </div>

  <div class="frase">
    <div>
      <p>Deixe de perder tempo procurando por promoções! Junte-se a nós e comece a poupar. </p>
    </div>
    <div>
      <p>
        Faça parte da nossa comunidade de compras agora e economize tempo e dinheiro ao adquirir produtos de qualidade.
        Nossa equipe especializada em seleção de ofertas trabalha incansavelmente para trazer as melhores oportunidades do
        dia para você.
      </p>
    </div>
  </div>
</section>
