<section>
  <div class="header">

    <div class="img-mobile">
      <img src="" alt="">
    </div>

    <div class="texto">
      <p>
        Quer ter acesso aos melhores cupons e ofertas do Brasil.
      </p>
    </div>
    <div class="links">
      <div>
        <a href="">WhatsApp</a>
        <a class="mobile-des" href="">Telegram</a>
      </div>
    </div>

    <div class="texto">
      <p>
        Junte-se a nós e venha economizar
      </p>
    </div>

    <div class="links-mob">
      <div>
        <a class="" href="">Telegram</a>
      </div>
    </div>
  </div>

  <div class="frase">
    <div>
      <p>Deixe de perder tempo procurando por promoções! Junte-se a nós e comece a poupar. </p>
    </div>
    <div>
      <p>
        Faça parte da nossa comunidade de compras agora e economize tempo e dinheiro ao adquirir produtos de qualidade.
        Nossa equipe especializada em seleção de ofertas trabalha incansavelmente para trazer as melhores oportunidades do
        dia para você.
      </p>
    </div>
  </div>
</section>
