<section>
  <div class="pagina-inicial">
    <a href="">Página Inicial</a>
    <span class="ml-2 mr-2">></span>
    <p>Termos de Uso</p>
  </div>
  <div class="card-pp">
    <div class="mb-5">
      <h2>Termos de Uso da Sergipe Ofertas</h2>
      <p>Bem-vindo à Sergipe Ofertas! A seguir apresentamos os Termos de Uso que regem o uso de nossa plataforma. Ao
        acessar e utilizar nossos serviços, você concorda com estes termos.</p>
    </div>
    <div>
      <div>
        <h3>Descrição do Serviço</h3>
        <p>A Sergipe Ofertas é uma plataforma que oferece gratuitamente um serviço de notícias em forma de divulgações
          de promoções, descontos, cupons e ofertas relâmpago das grandes e confiáveis lojas do Brasil. A Sergipe
          Ofertas não é uma loja e não comercializa nenhum produto ou serviço de maneira direta com o consumidor final.
          As compras de quaisquer produtos e/ou serviços são realizadas pelo Usuário diretamente nas plataformas e sites
          dos Anunciantes.</p>
      </div>
      <div>
        <h3>Responsabilidade do Usuário</h3>
        <p>Antes de realizar a compra de algum produto ou serviço anunciado na plataforma Sergipe Ofertas, recomendamos
          que você verifique condições, preços, regras de pagamento e políticas de vendas diretamente na plataforma da
          loja vendedora. Em caso de divergência entre as informações compartilhadas pela Sergipe Ofertas e as
          apresentadas pelo Anunciante, prevalecerão as condições e informações do Anunciante, uma vez que as promoções
          são extremamente dinâmicas.</p>
      </div>
      <div>
        <h3>Propriedade Intelectual</h3>
        <p>Todos os logotipos e imagens mostradas na plataforma são propriedade exclusiva das empresas às quais fazem
          referência e são apresentadas apenas para fins ilustrativos.</p>
      </div>
      <h3>Limitação de Responsabilidade</h3>
      <div>
        <p>A Sergipe Ofertas não se responsabiliza por qualquer divergência entre as informações fornecidas em nossa
          plataforma e aquelas apresentadas pelos Anunciantes, incluindo preços, regras de pagamento, condições de frete
          e demais condições de venda. A responsabilidade pelo atendimento, venda, suporte e pós-venda dos produtos
          divulgados é exclusivamente dos Anunciantes.</p>
      </div>
      <div>
        <h3>Política de Privacidade</h3>
        <p>A Política de Privacidade da Sergipe Ofertas foi criada para reafirmar nosso compromisso com a segurança,
          privacidade e transparência no tratamento das suas informações. A Sergipe Ofertas não tem acesso a quaisquer
          dados pessoais dos seus usuários, pois apenas compartilhamos informações de promoções e descontos das grandes
          lojas do Brasil. Portanto, os usuários podem ficar tranquilos quanto à segurança e proteção dos seus dados
          pessoais.</p>
      </div>
      <div>
        <h3>Alterações nos Termos de Uso</h3>
        <p>A Sergipe Ofertas se reserva o direito de modificar estes Termos de Uso a qualquer momento. Quaisquer
          alterações serão publicadas em nosso site. Recomendamos que os usuários revisem os Termos de Uso
          periodicamente para estar cientes de quaisquer mudanças.</p>
      </div>
      <div>
        <h3>Contato</h3>
        <p>Para dúvidas ou preocupações relacionadas a estes Termos de Uso, entre em contato conosco através do nosso site.<p>
      </div>
    </div>
  </div>
</section>
