<section>
  <header>
    <div>
      <h1>Produtos Cadastrados</h1>
    </div>
    <input *ngIf="visualiarCampoPesquisa" class="w-5 h-2rem" [formControl]="termoPesquisa"
      placeholder="Pesquise um Produto" type="text" pInputText />

    <select (change)="listarPorLoja($event)" *ngIf="visualiarDropdownLoja"
      class="dropdown w-5 text-primary-50 font-medium text-base" name="loja">
      <option value="">Selecione uma Loja</option>
      <option *ngFor="let item of lojas" value="{{item.id}}">{{ item.nome_loja }}</option>
    </select>

    <select *ngIf="visualiarDropdowncategoria" (change)="listarPorCategoria($event)"
      class="dropdown w-5 text-primary-50 font-medium text-base" [(ngModel)]="idCategoria" name="id_categoria">
      <option value="">Selecione uma Categoria</option>
      <option *ngFor="let item of categorias" value="{{item.categoria_id}}">{{ item.nomeCategoria }}</option>
    </select>

    <div class="p-d-flex p-ai-center p-jc-start p-m-2 relative">
      <i class="pi pi-filter bg-blue-400" (click)="toggleFiltro()"></i>

      <div *ngIf="isFiltroVisible" class="absolute z-2 right-0  pt-2 pb-2 bg-white border-round">
        <div (click)="filtrar(item.value)" class="p-3 cursor-pointer hover:bg-gray-100" *ngFor="let item of filtros">
          {{ item.label }}
        </div>
      </div>
    </div>
    <i class="pi pi-trash" (click)="apagarVariosProdutos()"></i>
  </header>

  <div class="separar">
    <p-table styleClass="table-custom" [value]="produtos" [(selection)]="selectedProducts" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Foto</th>
          <th>Titulo</th>
          <th>Preço</th>
          <th>Loja</th>
          <th>Story</th>
          <th>
            <img src="../../../../assets/img/whatsapp.png" alt="whatsapp">
          </th>
          <th>
            <img src="../../../../assets/img/telegram.jpg" alt="telegram">
          </th>
          <th>Gerar Feed</th>
          <th>Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="text-center">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td>
            <a routerLink="/painel/atualizar-produtos/{{item.id}}">
              <app-image-display [serverUrl]="imagemServiceService.getImagemUrl(item.imagemSocial, 'produtos-real')" />
              <!-- <img [src]="" alt="imagemSocial"> -->
            </a>
          </td>
          <td>
            <a [href]="item.link" target="_blank">
              {{item.titulo}}
            </a>
          </td>
          <td>{{item.preco}}</td>
          <td>
            <span *ngIf="item.loja != null">
              {{item.loja.nome_loja}}
            </span>
          </td>
          <td>
            <i (click)="gerarStory(item.id,item.preco, item.titulo, item.imagemSocial, item.freteVariacoes, item.cupom, item.link)"
              class="story pi pi-image"></i>
          </td>
          <td class="text-center">
            <i class="cursor-pointer pi pi-copy" (click)="copiarParaAreaTransferencia(item, 1)"></i>
          </td>
          <td class="text-center">
            <!-- <i class="cursor-pointer pi pi-copy" (click)="copiarParaAreaTransferencia(item,2)"></i> -->
            <i class="cursor-pointer pi pi-copy" (click)="showDialog(item)"></i>
          </td>
          <td class="text-center">
            <input type="submit" (click)="gerarFeed(item.id)" class="feed" value="Gerar Feed">
          </td>
          <td class="text-center">
            <!-- <i class="pi pi-ellipsis-v"></i>
            <div class="opcoes">
              <i (click)="apagarProduto(item.id, item.imagem, item.imagemSocial)" class="pi pi-trash">APAGAR</i>
              <a href="/painel/atualizar-produtos/{{item.id}}">
                <i class="pi pi-pencil">EDITAR</i>
              </a>
            </div> -->
            <app-menuOpcoes [product]="item" [menuOpen]="openMenuId === item.id"
              (toggleMenu)="toggleMenu(item.id)"></app-menuOpcoes>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="paginacao">
    <p-paginator [first]="0" [rows]="1" [totalRecords]="totalPage" (onPageChange)="changePage($event)"
      [showCurrentPageReport]="true" currentPageReportTemplate="{first} de {totalRecords}" [showPageLinks]="false"
      [showFirstLastIcon]="false"></p-paginator>

  </div>
</section>

<p-toast></p-toast>


<p-dialog header="Confirmar Informações" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <p-card header="{{ produto.titulo }}" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" [src]="this.imagemServiceService.getImagemUrl(produto.imagemSocial, 'produtos-real')" />
    </ng-template>
    <p [innerHTML]="montarEstruturaCompartilhamento(produto, 2) | formatText"></p>
  </p-card>
  <div class="flex justify-content-center justify-content-around mt-3">
    <p-button class="bg-primary" label="WhatsApp" (onClick)="copiarParaAreaTransferencia(produto, 1)" />
    <p-button label="Telegram"
      (onClick)="enviarTelegram(montarEstruturaCompartilhamento(produto, 2), produto.imagemSocial)" />
  </div>
</p-dialog>