section{
  /* background-color: aqua; */
  height: calc(100% - 10px);
}

header{
  display: flex;
  justify-content: space-around;
}

header input{
  width: 100px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

thead tr th{
  text-align: start;
}

header div:first-child{
  width: 90%;
}

header h1{
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.separar{
  height: calc(100% - 110px);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}


table{
  width: 100%;
  height: 30px;
  border-collapse: collapse;
}


td{
  border-bottom: 1px solid rgb(173, 173, 173);
  padding: 5px;
}

tbody:hover{
  background-color: aliceblue;
}

tr td:first-child{
  width: 10px;
}

tr td:nth-child(2){
  width: 85%;
}

tr td:nth-child(3){
  width: 65%;
}

tbody tr{
  background-color: white;
  margin: 10px;
}

.opcoes{
  display: flex;
  justify-content: space-around;
}

.opcoes button{
  width: 45%;
  background-color: red;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.opcoes a:last-child{
  width: 45%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: white;
  background-color: blue;
}
