footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:#F0A11F;
  display: flex;
  justify-content: center;
  padding: 10px;
  justify-content: space-around;
}

p{
  color: white;
}

footer nav ul{
  display: flex;
  text-decoration: none;
  list-style: none;
}

li a{
  margin-left: 10px;
  text-decoration: none;
  color: white;
  /* font-family: 'Cutive'; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
