footer {
  width: 100%;
  background-color: #f0a11f;
  justify-content: center;
  align-items: center;
  /* display: none; */
  position: fixed;
  bottom: 0px;

  /* display: block; */
  transition: 0.4s ease-in-out;
}

.fechar{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.184);
  position: fixed;
  top: 0;
}

.footerInicio{
  bottom: 0 !important;
}

.footer-geral{
  position: relative;
  bottom: 0 !important;
}

/* .footer-fixo {
  width: 100%;
}

.footer-normal {
  position: relative;
}
/* Estilos adicionais conforme necessário */

footer div:last-child {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 200px;
}

.siga {
  display: block !important;
  justify-content: center !important;
  height: 100%;
  padding: 10px;
}

.siga ul {
  width: 100%;
  /* display: flex; */
  list-style: none;
  padding: 0;
  align-items: center;
}

.siga li {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.siga a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
  width: 100%;
}

.siga ul li:first-child a {
  background-color: #25d366;
  display: flex;
}

.siga ul li:nth-child(2) a {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  display: flex;
}

.siga ul li:nth-child(3) a {
  background-color: #0088cc;
  display: flex;
}

.suporte {
  /* width: 100%; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.suporte a {
  padding: 10px 5px 10px 5px;
  background-color: rgba(235, 235, 235, 0.336);
  margin-top: 10px;
  color: rgb(39, 42, 44) !important;
  border-radius: 10px;
  text-transform: initial;
}

h3 {
  font-size: 17px;
  margin: 0;
  color: rgb(39, 42, 44);
}

.suporte li {
  margin-left: 5px;
}

p {
  color: white;
}

.bem-vindo-msg {
  padding: 10px;
  width: 400px;
}

.fechar-modal{
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fechar-modal i{
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.bem-vindo-msg p {
  margin-top: 10px;
  font-weight: 400;
  color: white;
  text-align: justify;
  font-size: 16px;
}

@media screen and (max-width: 600px) {

  .bem-vindo-msg {
    width: 100%;
  }

  .footerInicio{
    display: none !important;
  }

  .fechar{
    display: none;
    /* bottom: auto; */
  }

  .footer-mobile{
    display: none;
  }

  .flex {
    height: auto;
    flex-direction: column-reverse;
  }
}
