<div *ngIf="abrirCategoria" (click)="toggleCategoria()" class="fechar-categoria fechar-categoria-mobile">
</div>
<div @pesquisa *ngIf="modalPesquisa" class="modal-pesquisa">
  <div class="flex justify-content-between align-items-center">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input [(ngModel)]="termoPesquisa" class="w-full" type="search" (keyup.enter)="pesquisar()" pInputText
        placeholder="Faça Sua Busca" />
    </p-iconField>
    <i (click)="abrirModalPesquisa()" class="pi pi-times"></i>
  </div>

  <div class="pesquisas-recentes">
    <p class="mt-2">Pesquisas Recentes</p>

    <div>
      <a href="/pesquisa?search={{item}}" *ngFor="let item of pesquisasRecentes">

        {{ item }}

      </a>

    </div>


  </div>

  <hr>

  <div class="box">
    <p>Mais Buscados</p>

    <ul>
      <li><a href="/pesquisa?search=Smart TV">Smart TV</a></li>
      <li><a href="/pesquisa?search=Guarda Roupa">Guarda Roupa</a></li>
      <li><a href="/pesquisa?search=Notebook">Notebook</a></li>
      <li><a href="/pesquisa?search=Air Fryer">Air Fryer</a></li>
      <li><a href="/pesquisa?search=Iphone">Iphone</a></li>
    </ul>
  </div>
</div>

<header class="header">
  <div class="close" *ngIf="menuValue" (click)="openMenu()">
  </div>
  <div class="flex">
    <div class="flex">
      <a class="icon-h1 flex" href="">
        <!-- <img class="img-icon" src="../../../assets/413307893_685333763588479_6412520808455805246_n.jpg" alt="sergipe"> -->
        <h1 routerLink="">SERGIPE OFERTAS</h1>
      </a>
      <div class="pesquisa">
        <i (click)="abrirModalPesquisa()" class="pi pi-search pesquisa"></i>
      </div>
      <i class="menu-icon pi pi-bars" (click)="openMenu()"></i>
      <nav class="desktop_menu" [class.mobile_menu]="menuValue">
        <i (click)="closeMenu()" class="fechar-menu pi pi-times p-2"></i>
        <a (click)="closeMenu()" class="mobile" routerLink="/">
          <i class="pi pi-home mr-2 text-white-alpha-90 text-lg text-justify"></i>
          Ofertas do Dia
        </a>
        <a (click)="closeMenu()" routerLink="destaque">
          <i class="mr-1 text-white-alpha-90 text-lg pi pi-star"></i>
          Destaques
        </a>
        <a (click)="closeMenu()" class="mobile" routerLink="/quem-somos">
          <i class="pi pi-users mr-2 text-white-alpha-90 text-lg text-justify"></i>
          Quem Somos
        </a>

        <div>
          <a (click)="toggleCategoria()" class="dropbtn flex align-items-center">
            <i class="mr-2 text-white-alpha-90 text-lg pi pi-th-large"></i>
            Categorias
            <i class="ml-2 text-white-alpha-90 text-lg pi pi-chevron-down"></i>
          </a>
          <div *ngIf="abrirCategoria" @categoria id="categ" class="dropdown-content">
            <a id="cat" *ngFor="let item of categorias" href="produtos-categoria/{{item.categoria_id}}">{{
              item.nomeCategoria }}</a>
          </div>
        </div>
        <a (click)="closeMenu()" class="flex align-items-center" *ngIf="links.links !== undefined"
          [href]="links.links.outros" target="_blank">
          <i class="pi pi-whatsapp mr-2 text-white-alpha-90 text-lg text-justify"></i>
          Grupos
        </a>

        <a class="desktop flex align-items-center" routerLink="/parceiros">
          <i class="pi pi-users mr-2 text-white-alpha-90 text-lg text-justify"></i>
          Parceiros
        </a>

        <a (click)="closeMenu()" class="flex align-items-center" routerLink="blog">
          <i class="pi pi-comments mr-2 text-white-alpha-90 text-lg text-justify"></i>
          Blog
        </a>

        <a (click)="closeMenu()" class="flex align-items-center mobile" routerLink="parceiros">
          <i class="pi pi-comments mr-2 text-white-alpha-90 text-lg text-justify"></i>
          Parceiros
        </a>


        <hr class="mobile">
        <a (click)="closeMenu()" class="itens-header" routerLink="/politica-privacidade">Política de Privacidade</a>
        <a (click)="closeMenu()" class="itens-header" routerLink="termos-uso">Termos de Uso</a>
        <a (click)="closeMenu()" class="itens-header"
          href="{{ links.links != undefined ? 'mailto:' + links.links.email : '#'}}">Fale Conosoco</a>
      </nav>
    </div>
    <p-iconField class="w-6 desktop" iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input [(ngModel)]="termoPesquisa" class="w-full desktop" type="text" (keyup.enter)="pesquisar()" pInputText
        placeholder="Faça Sua Busca" />
    </p-iconField>
  </div>
</header>
