.car-categorias{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.categorias-cadastradas{
  width: 500px;
  height: 600px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
}

.categorias-cadastradas div{
  display: flex;
  justify-content: center;
}

.cadastrar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 200px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nome{
  border-radius: 5px;
}

input.ng-invalid {
  border: 1px solid red;
}

form div{
  display: flex;
  flex-direction: column;
  width: 300px;
}

form div input{
  padding: 10px;
  margin-top: 10px;
}

.botao{
  width: 100%;
  display: flex;
  align-items: center;
}

.botao input{
  border-radius: 5px;
  border: none;
  width: 100px;
  background-color: blue;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
  width: 100%;
  overflow-y: auto;
}

tr{
  height: 50px;
}

.nome{
  width: 300px;
}

table tbody{
  background-color: #f0f0f0;
  text-align: center;
}

.opcoes a:last-child{
  margin-left: 5px;
  background-color: rgb(187, 12, 12);
  padding: 8px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.opcoes a:first-child{
  background-color: #183B59;
  padding: 8px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
