<div class="h-full flex justify-content-center">
  <section>
    <div class="mt-5 pb-4 p-2 border-round">
      <h2 class="text-center w-full p-2">Quem Somos</h2>
      <p class="text-justify">
        Somos Pessoa Jurídica de Direito Privado, inscrita no CNPJ nº 49.288.933/0001-15, com escritório sediado no
        complexo CEC, localizado na Av. Pedro Paes Azevedo, 130 - Salgado Filho, Aracaju - SE, 49020-450.
        <br><br>
        Os serviços prestados pela Sergipe Ofertas encontram-se disponíveis em nossa plataforma e hospedado sob o
        endereço <a href="https://www.sergipeofertas.com.br" target="_blank">www.sergipeofertas.com.br</a>. Estes Termos e Condições de Uso (“Termos de Uso”) estabelecem a relação
        contratual entre você (“Usuário”) e a Sergipe Ofertas, fixando as regras e condições de utilização e as
        responsabilidades de cada parte envolvida, em conformidade com a legislação brasileira, incluindo as disposições
        da Lei nº 12.965/14 (“Marco Civil da Internet”) e da Lei nº 13.709/18 (“Lei Geral de Proteção de Dados”).
        <br><br>
        Ao aceitar esse Termos de Uso, e continuar utilizando nossa plataforma, você estará legalmente vinculado a todas as
        condições aqui descritas. Este é um requisito indispensável para utilização da plataforma e dos serviços nela
        disponibilizados. Portanto, caso você não concorde com qualquer das regras previstas, você não deverá aceitar os
        Termos de Uso, bem como não utilizar a plataforma do Garimpeiros. Caso tenha qualquer dúvida sobre o conteúdo
        desses Termos de Uso, ficaremos satisfeitos em atendê-lo por meio do e-mail:
        <a href="mailto:sergipe.ofertas&#64;gmail.com">sergipe.ofertas&#64;gmail.com</a>
      </p>
    </div>
  </section>
</div>
