<div class="container">
  <div class="info">
    <i id="tag1" class="pi pi-tag float-icon-info"></i>
    <i id="tag2" class="pi pi-tag float-icon-info"></i>
    <i id="cupom1" class="pi pi-ticket float-icon-info"></i>
    <i id="cupom2" class="pi pi-ticket float-icon-info"></i>
    <i id="por1" class="pi pi-percentage float-icon-info"></i>
    <i id="por2" class="pi pi-percentage float-icon-info"></i>
    <article>
      <img src="../../../assets/logo-sergipe-ofertas.jpg" alt="logo">
      <h1>Sergipe Ofertas</h1>
      <p>
        Sergipe Ofertas: sua plataforma gratuita com ofertas e cupons
        24h das grandes lojas para você!
      </p>
      <a href="/">VER OFERTAS</a>
    </article>
    <img class="logo loja-amzon" src="../../../assets/img/lojas/amzon log.jpg" alt="">
    <img class="logo loja-shopee" src="../../../assets/img/lojas/shopee logo.jpg" alt="">
    <img class="logo loja-meli" src="../../../assets/img/lojas/mercado livre logo.jpg" alt="">
    <img class="logo loja-costa" src="../../../assets/img/lojas/ferreira costa logo.jpg" alt="">
    <img class="logo loja-casas" src="../../../assets/img/lojas/casas bahia logo.jpg" alt="">

  </div>
  <section id="sobre">

    <div class="retangulo">
      <h2>Quem Somos</h2>
      <p>Sergipe Ofertas é uma plataforma gratuita criada para os usuários que gostam de Ofertas, Descontos, Cupons
        e Promoções. Contamos com diversos profissionais e softwares que trabalham 24h buscando as melhores promoções
        para os usuários.</p>
    </div>

    <div class="retangulo">
      <h2>Como Funciona</h2>
      <p>As promoções anunciadas em nossa plataforma são de lojas confiáveis,conhecidas e credenciadas do grande
        público, podem ficar tranquilos quanto a segurança e integridade em suas compras.</p>
    </div>

    <div class="retangulo">
      <h2>O que Oferecemos para Você</h2>
      <p>Oferecemos o serviço gratuito de busca para qualquer produto que o seguidor esteja precisando, para isso é
        necessário entrar nos grupos exclusivos e falar diretamente com algum dos nossos colaboradores.</p>
    </div>

  </section>
</div>
