<section>

  <div>
    <h2>Quem Somos</h2>
    <div class="circulo">
      <p>Sergipe Ofertas é uma plataforma gratuita criada para os usuários que gostam de Ofertas, Descontos, Cupons
        e Promoções. Contamos com diversos profissionais e softwares que trabalham 24h buscando as melhores promoções
        para os
        usuários.</p>
    </div>
  </div>

  <div>
    <h2>Como Funciona</h2>
    <div class="circulo">
      <p>As promoções anunciadas em nossa plataforma são de lojas confiáveis,conhecidas e credenciadas do grande
        público, podem ficar tranquilos quanto a segurança e integridade em suas compras.</p>
    </div>
  </div>

  <div>
    <h2>O que Oferecemos para Você</h2>
    <div class="circulo">
      <p>Oferecemos o serviço gratuito de busca para qualquer produto que o seguidor esteja precisando, para isso é
        necessário entrar nos grupos exclusivos e falar diretamente com algum dos nossos colaboradores.</p>
    </div>
  </div>

</section>
