<div class="grid">
  <!-- Linha Superior -->
  <div class="col-3">
    <div class="bg-white border-round h-auto p-2 shadow-2">
      <!-- Conteúdo do quadrado -->
      <p-chart type="bar" height="35vh" [data]="procentagemData" [options]="basicOptions" />
      <p-calendar placeholder="Escolha os dias" [(ngModel)]="rangeDates" (onSelect)="buscarDadosPorData()" selectionMode="range" [readonlyInput]="true" />
    </div>
  </div>
  <div class="col-9">
    <div class="bg-white border-round h-auto p-2 shadow-2">
      <!-- Conteúdo do retângulo -->
      <p-chart  type="line" height="35vh" [data]="data" [options]="options" />

      <p-calendar placeholder="Escolha os dias" [(ngModel)]="rangeDates" (onSelect)="buscarDadosPorData()" selectionMode="range" [readonlyInput]="true" />
    </div>
  </div>

  <!-- Linha Inferior -->
  <div class="col-3">
    <div style="height: 325px;" class="bg-white border-round text-center p-2 shadow-2">
      <p>Cliques na pagina de ofertas e no botao</p>
      <p-calendar (onSelect)="buscarDadosPorDia()" placeholder="Escolha um dia" [(ngModel)]="date"/>
      <div class="bg-white shadow-3 flex flex-column justify-content-center w-full mt-3 h-5rem border-round">
        <p class="font-bold text-2xl">{{ acessoPagina }}</p>
        <p class="text-sm">Acessos na Pagina</p>
      </div>
      <div class="bg-white shadow-3 w-full mt-3 h-5rem flex flex-column justify-content-center border-round">
        <p class="font-bold text-2xl">{{ acessoBotao }}</p>
        <p class="text-sm">Cliques no Botao</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div
      class="flex align-items-center justify-content-center text-3xl flex-column h-full bg-white border-round p-2 shadow-2">
      <p>Total de Acessos</p>
      <p>{{ totalAcessoSistema }}</p>
    </div>
  </div>
</div>
