.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .imagem-hover {
    object-fit: contain;
    transition: transform 0.3s ease-in-out; /* Animação suave */
  }
  
  .imagem-hover:hover {
    transform: scale(1.03); /* Aplica um zoom de 10% */
  } 








  .skeleton {
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 8px;
  }
  
  .skeleton-image {
    width: 100%;
    height: 11rem;
    border-radius: 8px;
  }
  
  .skeleton-text {
    height: 1rem;
    border-radius: 4px;
  }
  
  .skeleton-button {
    height: 2rem;
    border-radius: 8px;
  }
  
  .w-75 { width: 75%; }
  .w-50 { width: 50%; }
  .w-25 { width: 25%; }
  
  @keyframes shimmer {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
  }