<form [formGroup]="produtoFormGroup" (ngSubmit)="salvarProduto()">
  <input type="hidden" value="{{ id }}">
  <section class="cadastrar-produtos">
    <h1 class="titulo-mobile">Cadastrar Produtos</h1>
    <header>
      <h1 class="titulo-desktop">Cadastrar Produtos</h1>
      <span class="p-float-label">
        <input class="scrape" pInputText id="url" formControlName="url" />
        <label htmlFor="Link do produto">Link do produto</label>
      </span>
      <input class="botao-cadastrar cursor-pointer" type="submit">
    </header>

    <div class="formulario">

      <div class="titulo">
        <span class="p-float-label">
          <input pInputText id="copy" formControlName="copy" />
          <label htmlFor="copy">Copy</label>
        </span>
        <span class="mt-4 p-float-label">
          <input pInputText id="Titulo" formControlName="titulo" />
          <label htmlFor="titulo">Titulo</label>
        </span>
      </div>

      <div class="grupo1 grupo">
        <span class="p-float-label checked">
          <p-inputSwitch id="check" name="check" formControlName="check" />
          <!-- <input pInputText id="precoParcelado" formControlName="precoParcelado" />
          <label htmlFor="precoParcelado">Preço Parcelado</label> -->
        </span>
        <span class="p-float-label">
          <input pInputText id="preco" formControlName="preco" />
          <label htmlFor="preco">Preço</label>
        </span>
        <span>
          <select class="dropdown text-primary-50 font-medium text-base" formControlName="freteVariacoes"
            name="freteVariacoes">
            <option value="">Selecione o Frete</option>
            <!-- <option value="Frete Grátis">Frete Grátis</option> -->
            <option
              value="No Carrinho Selecione o *🏷️CUPOM de Frete Grátis* Acima de R$ 19,90 para Garantir o Frete Grátis!">
              Frete Grátis Shopee</option>
            <option
              value="No Carrinho Selecione o *🏷️CUPOM de Frete Econômico* Acima de R$ 19,90 para Garantir o Frete Econômico!">
              Frete Econômico Shopee</option>
            <option value="*Frete Grátis* Algumas Regiões">Frete Grátis Algumas Regiões</option>
            <!-- <option value="Grátis Retirando na Loja">Grátis Retirando na Loja</option> -->
            <!-- <option value="Frete Econômico Ou Grátis Retirando na Loja">Frete Econômico Ou Grátis Retirando na Loja</option> -->
            <option value="Frete Grátis Prime">Frete Grátis Prime</option>
            <!-- <option value="Frete Econômico">Frete Econômico</option> -->
          </select>
        </span>
      </div>

      <div class="link flex justify-between">
        <span class="w-full p-float-label">
          <input class="" pInputText id="link" formControlName="linkSe" />
          <label htmlFor="link">Link Sergipe Ofertas</label>
        </span>
        
        <span class="w-full p-float-label">
          <input class="w-full" pInputText id="link" formControlName="linkSeApp" />
          <label htmlFor="link">Link do App Sergipe Ofertas</label>
        </span>
      </div>

      <div class="link gap-2 flex justify-between">
        <span class="w-full p-float-label">
          <input pInputText id="link" formControlName="linkOmc" />
          <label htmlFor="link">Link Oferta Mais Cupom</label>
        </span>
        
        <span class="w-full p-float-label">
          <input class="w-full" pInputText id="link" formControlName="linkOmcApp" />
          <label htmlFor="link">Link do App Ofertas Mais cupons</label>
        </span>
      </div>

      <div class="grupo2 grupo">
        <span class="mensagemAdicional w-11 mr-4">
          <p-dropdown styleClass="w-full teste" [options]="mensagemAdicional" formControlName="mensagemAdicional"
            [(ngModel)]="mensagemSelecionada" placeholder="Mensagem" [editable]="true" optionLabel="name" />
        </span>
        <span>
          <select class="dropdown w-11 text-primary-50 font-medium text-base" formControlName="loja" name="loja">
            <option value="">Selecione uma Loja</option>
            <option *ngFor="let item of lojas" value="{{item.id}}">{{ item.nome_loja }}</option>
          </select>
        </span>
        <span>
          <select class="dropdown w-full text-primary-50 font-medium text-base" formControlName="id_categoria"
            name="id_categoria">
            <option value="">Selecione uma Categoria</option>
            <option *ngFor="let item of categorias" value="{{item.categoria_id}}">{{ item.nomeCategoria }}</option>
          </select>
  
        </span>
      </div>

      <div class="grupo3 grupo">
        <div class="felx w-6">
          <h2>Imagem</h2>
          <div id="imagens">
            <div id="imagens">
              <!-- Imagem Principal -->
              <app-image-display [externalUrl]="scraperProduto.urlImagem"
                [serverUrl]="produto.imagem ? imagemService.getImagemUrl(produto.imagem, 'produtos') : ''"
                [localImage]="imagemView" (imageSelected)="onFileChange($event)">
              </app-image-display>

              <!-- Imagem Social -->
              <app-image-display [externalUrl]="scraperProduto.urlImagem"
                [serverUrl]="produto.imagemSocial ? imagemService.getImagemUrl(produto.imagemSocial, 'produtos-real') : ''"
                [localImage]="imagemViewSocial" (imageSelected)="onFileChangeSocial($event)">
              </app-image-display>
            </div>
          </div>

        </div>

        <div class="w-6">
          <p-dropdown styleClass="w-full" [options]="cuponsSE" formControlName="cupom" [(ngModel)]="cupomSelecionadoSE"
            placeholder="Cupom Sergipe Ofertas" [editable]="true" optionLabel="name" />
          <p-dropdown *ngIf="cupomOmc" styleClass="w-full mt-4" [options]="cuponsOMC" formControlName="cupomOmc"
            [(ngModel)]="cupomSelecionadoOMC" placeholder="Cupom Ofertas Mais Cupons" [editable]="true"
            optionLabel="name" />
        </div>
      </div>
    </div>
  </section>
</form>

<p-toast></p-toast>