.titulo{
  width: 95%;
  margin: 0 auto;
}

h2{
  margin-bottom: 5px;
}

.titulo input{
  /* background-color: rgb(243, 243, 243); */
  width: 100%;
  height: 40px;
  border: 3px solid rgb(221, 221, 221);
  border-radius: 5px;
}

#imagens input{
  width: 45px;
}

p{
  margin: 0;
}

.produto-salvo{
  background-color: rgb(14, 205, 14);
  width: fit-content;
  padding: 20px 80px;
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  /* display: none; */
}

#imagens{
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.grupo{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.grupo div{
  width: 48%;
}

.link{
  width: 95%;
  margin: 0 auto;
}

.link input{
  width: 100%;
  height: 35px;
  border: 3px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.scrape{
  width: 50%;
  height: 30px;
  border: 3px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.grupo input{
  width: 100%;
  height: 35px;
  border: 3px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.descricao{
  width: 95%;
  margin: 0 auto;

}

.descricao input{
  width: 100%;
  height: 70px;
  border: 3px solid rgb(221, 221, 221);
  border-radius: 5px;
}

select{
  width: 100%;
  height: 34px;
  border: 3px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.cadastrar-produtos header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cadastrar-produtos header h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  margin-left: 30px;
  margin-bottom: 0;
}

.cadastrar-produtos header .botao-cadastrar {
  margin-top: 5px;
  background-color: blue;
  height: 50px;
  width: 100px;
  margin-right: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.custom-file-input {
  display: inline-block;
  position: relative;
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
}

#file-input-label {
  background-color: rgb(196, 196, 196);
  width:  140px;
  height: 120px;
  border: 2px dashed #aaa;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: #000000;
  overflow: hidden;
  position: relative;
}

img {
  width: 140px;
  /* height: 100%; */
  object-fit: contain;
}

input[type="file"]:focus + label .file-input-label {
  border: 2px solid blue;
}

input[type="file"]:valid + label .file-input-label {
  border: 2px solid green;
  color: green;
}
