<form [formGroup]="produtoFormGroup" (ngSubmit)="salvarProduto()">
  <input type="hidden" value="{{ id }}">
  <section class="cadastrar-produtos">
    <h1 class="titulo-mobile">Cadastrar Produtos</h1>
    <header>
      <h1 class="titulo-desktop">Cadastrar Produtos</h1>
      <span class="p-float-label">
        <input class="scrape" pInputText id="url" formControlName="url"/>
        <label htmlFor="Link do produto">Link do produto</label>
      </span>
      <!-- <input class="scrape" formControlName="url" type="text" placeholder="Link do produto"> -->
      <!-- <button (click)="rasparProduto()">PESQUISAR</button> -->
      <input class="botao-cadastrar" type="submit">
    </header>

    <div class="formulario">

      <div class="titulo">
        <span class="p-float-label">
          <input pInputText id="Titulo" formControlName="titulo" />
          <label htmlFor="titulo">Titulo</label>
        </span>
      </div>

      <div class=" grupo">
        <span class="p-float-label">
          <input pInputText id="precoParcelado" formControlName="precoParcelado" />
          <label htmlFor="precoParcelado">Preço Parcelado</label>
        </span>
        <span class="p-float-label">
          <input pInputText id="preco" formControlName="preco" />
          <label htmlFor="preco">Preço À Vista</label>
        </span>
        <span>
          <p-dropdown styleClass="dropdown" [options]="frete" name="freteVariacoes" formControlName="freteVariacoes" optionLabel="name" [showClear]="true"
            placeholder="Escolha o Frete"></p-dropdown>
        </span>
      </div>

      <div class="link">
        <span class="p-float-label">
          <input class="w-full" pInputText id="link" formControlName="link"/>
          <label htmlFor="link">Link</label>
        </span>

      </div>

      <div class="grupo">
        <span>
          <p-dropdown styleClass="dropdown w-11" [options]="msg" formControlName="mensagemAdicional" name="mensagemAdicional" optionLabel="name" [showClear]="true"
            placeholder="Escolha a Mensagem"></p-dropdown>
        </span>
        <span>
          <p-dropdown styleClass="dropdown w-11" [options]="lojas" formControlName="loja" name="loja" optionLabel="nome_loja" [showClear]="true"
            placeholder="Escolha a Loja"></p-dropdown>
        </span>
        <span>
          <p-dropdown styleClass="dropdown w-full" [options]="categorias" formControlName="id_categoria" name="id_categoria" optionLabel="nome_categoria" [showClear]="true"
            placeholder="Escolha a Categoria"></p-dropdown>
        </span>
      </div>

      <div class="grupo">
        <div class="felx w-6">
          <h2>Imagem</h2>
          <div id="imagens">
            <label for="fileInput">
              <input formControlName="imgem" (change)="onFileChange($event)" id="fileInput" type="file" #fileInput>
              <div id="file-input-label">
                <div *ngIf="true">
                  <img *ngIf="produto == undefined" [src]="imagemView ==  ''? scraperProduto.urlImagem : imagemView!"
                    alt="Imagem Site">
                  <img *ngIf="produto != undefined" [src]="apiUrl+'/produto/download/'+imagemView" alt="Selected Image">
                </div>
                <div *ngIf="false">Selecionar Site</div>
              </div>
            </label>

            <label for="fileInput">
              <input (change)="onFileChange($event)" id="fileInput" type="file" #fileInput>
              <div id="file-input-label">
                <div *ngIf="true">
                  <img [src]="" alt="Imagem Social">
                </div>
                <div *ngIf="">Imagem Social</div>
              </div>
            </label>
          </div>
        </div>

        <div class="w-6">
          <span class="p-float-label w-full">
            <input class="w-full" pInputText id="cupom" formControlName="cupom"/>
            <label htmlFor="Cupom">Cupom</label>
          </span>
          <span class="p-float-label w-full">
            <input class="w-full h-10rem mt-5" pInputText id="descricao" formControlName="descricao" />
            <label htmlFor="descricao">Descriçao</label>
          </span>
        </div>
      </div>
    </div>
  </section>
</form>

<p-toast></p-toast>
