<section>
  <div class="pagina-inicial">
    <a href="">Página Inicial</a>
    <span class="ml-2 mr-2">></span>
    <p>Politica de Privacidade</p>
  </div>
  <div class="card-pp">
    <div class="text-center">
      <h2>Politica de privacidade</h2>
    </div>
    <div>
      <div>
        <h3>Informações Coletadas</h3>
        <p>A Sergipe Ofertas não coleta informações pessoais diretamente dos seus usuários, pois apenas compartilhamos
          informações de promoções e descontos das grandes lojas do Brasil.</p>
      </div>
      <div>
        <h3>Uso das Informações</h3>
        <p>As informações de promoções e descontos são utilizadas exclusivamente para informar os usuários sobre
          oportunidades de compras. Não utilizamos essas informações para nenhum outro propósito.</p>
      </div>
      <div>
        <h3>Compartilhamento de Informações</h3>
        <p>A Sergipe Ofertas não compartilha informações pessoais dos usuários com terceiros, pois não coletamos tais
          informações. As compras de quaisquer produtos e/ou serviços são realizadas pelo Usuário diretamente nas
          plataformas e sites dos Anunciantes.</p>
      </div>
      <div>
        <h3>Segurança das Informações></h3>
        <p>Embora não coletemos dados pessoais, estamos comprometidos em garantir que as informações sobre promoções
          sejam precisas e seguras.</p>
      </div>
      <div>
        <h3>Direitos dos Usuários</h3>
        <p>Os usuários têm o direito de acessar informações sobre promoções e descontos de forma gratuita. Como não
          coletamos dados pessoais, não há informações pessoais a serem corrigidas ou excluídas.</p>
      </div>
      <div>
        <h3>Cookies e Tecnologias Similares</h3>
        <p>Não utilizamos cookies ou outras tecnologias de rastreamento para coletar informações pessoais dos usuários.</p>
      </div>
      <div>
        <h3>Alterações na Política de Privacidade</h3>
        <p>Podemos atualizar esta Política de Privacidade periodicamente. Qualquer alteração será publicada em nosso site, e recomendamos que os usuários revisem esta política regularmente.</p>
      </div>
      <div>
        <h3>Contato</h3>
        <p>Para dúvidas ou preocupações relacionadas à privacidade, entre em contato conosco através do nosso site ou <a href="malilto:sergipe.ofertas@gmail.com">E-mail</a>.</p>
      </div>
    </div>
  </div>
</section>
