<div class="categoria">
  <a href="produtos-categoria/{{produto.categoriaDto.categoria_id}}">{{ produto.categoriaDto.nome_categoria }}</a>
</div>
<section>
  <div class="container">
    <div class="flex">
      <div class="produto">

        <div class="info">
          <div *ngIf="produto.imagem != undefined" class="imagem-produto">
            <img [src]="apiUrl+'/produto/download/'+produto.imagem" alt="">
          </div>
          <div>
            <p class="mob">Promoção da loja: {{ produto.lojaResponseDto.nome_loja }}</p>
            <p class="data">há {{calculateElapsedTime(produto.dataCriacao)}}</p>
          </div>

          <div class="informaçoes">
            <div>
              <h2 class="titulo">{{ produto.titulo }}</h2>
              <p class="data-none">há {{calculateElapsedTime(produto.dataCriacao)}}</p>
            </div>
            <p class="preco">{{ produto.preco }}</p>

            <div (click)="copiarParaAreaTransferencia()" *ngIf="produto.cupom" class="cupom">
              <div>
                <div class="">
                  <p class="text-base">{{ produto.cupom }}</p>
                </div>
                <div class="copiar">
                  <i class="pi pi-copy text-base"></i>
                  <p class="text-base">COPIAR</p>
                </div>
              </div>
            </div>

            <div class="frete mt-3 mb-2">
              <i class="pi pi-truck"></i>
              <p>{{ produto.freteVariacoes }}</p>
            </div>

            <div class="ir-loja">
              <a href="{{ produto.link }}" target="_blank">Ir a Loja</a>
            </div>
          </div>
        </div>

        <hr class="linha-estilizada">

        <div class="outras-info">
          <button class="report" (click)="abrirModal()">Reportar</button>
          <button (click)="shares()" class="comp">
            <i class="pi pi-share-alt mr-2"></i>
            Compartilhar
          </button>
          <div class="loja">
            <img *ngIf="produto.lojaResponseDto.urlImagem"
              [src]="apiUrl+'/loja/mostar-imagem/'+produto.lojaResponseDto.urlImagem"
              alt="{{ produto.lojaResponseDto.nome_loja }}">
            <div>
              <p>Promoção da loja:</p>
              <p>{{ produto.lojaResponseDto.nome_loja }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="convite-mobile">
          <p>Grupo do WhatsApp</p>
          <p>Receba no WhatsApp as Melhores Promoções da internet</p>
          <a href="">ENTRAR NO GRUPO</a>
      </div>

      <div class="msg">
        <p>Veja mais promoções do dia</p>
      </div>

      <div class="produtos-categorias">
        <div *ngFor="let item of produtos" class="grid-item">
          <div class="card">
            <div>
              <img [src]="apiUrl+'/produto/download/'+item.imagem" alt="">
            </div>
            <div class="info-cat">
              <p class="data">{{calculateElapsedTime(item.dataCriacao)}}</p>
              <p class="nome-produto">
                <a href="/oferta/{{item.id}}">
                  {{ item.titulo }}
                </a>
              </p>
              <div class="cupom-categoria">
                <div>
                  <p *ngIf="item.cupom">{{ item.cupom }}</p>
                  <i *ngIf="item.cupom" class="pi pi-copy text-base"></i>
                </div>
              </div>
              <div class="frete">
                <i class="pi pi-truck"></i>
                <p>{{ item.freteVariacoes }}</p>
              </div>
              <p class="preco2">{{ item.preco }}</p>
              <div class="ver-promocao">
                <a href="{{ item.link }}" target="_blank">Pegar Promoção</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ver-promocoes">
        <a routerLink="">Ver Todas as promoções do Dia</a>
      </div>

      <div class="reportar" *ngIf="modal" (click)="fecharModal()">
        <div class="opcoes-reportar" (click)="impedirFechar($event)">
          <button class="close-modal" (click)="fecharModal()">&times;</button>
          <h2>Opções de Report</h2>
          <div class="opcoes-botoes">
            <button (click)="reportar(produto.id, 'oferta')">Reportar Oferta</button>
            <button (click)="reportar(produto.id, 'cupom')">Reportar Cupom</button>
          </div>
        </div>
      </div>
    </div>

    <aside class="flex-convite">
      <div class="convite">
        <h2>Gostou dessa promoção?</h2>
        <p>Entre no WhatsApp do Sergipe Ofertas e receba promoções imperdíveis no whatsapp</p>
        <a href="">WhatsApp</a>
      </div>

      <div class="convite">
      </div>
    </aside>
  </div>


  <p-messages class="absolute top-8 w-3" [(value)]="msg" [enableService]="false" [closable]="false"></p-messages>
</section>
