<section>
  <header>
    <h1>Promoções</h1>
    <p-button label="Cadastrar" severity="success" (onClick)="abrirModal()" />
  </header>

  <div class="lista-de-produtos">
    <div *ngFor="let promos of promosProdutos">
      <p-card header="{{promos.copyPromo}}" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
          <a routerLink="/promos/{{promos.idPromo}}">
            <img *ngIf="promos.urlImagem != null" alt="Card"
              [src]="apiUrl+'/promos/download-imagem-promo/'+promos.urlImagem" alt="{{ promos.copyPromo }}" />
          </a>
        </ng-template>
        <div class="produtos" *ngFor="let produtos of promos.produtoResponseDto">
          <p>{{ produtos.titulo }}</p>
        </div>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button icon="pi pi-copy"
              (onClick)="criarPost(promos.produtoResponseDto, promos.copyPromo, promos.idPromo)" severity="success"
              class="w-full" styleClass="w-full" />
            <p-button icon="pi pi-pen-to-square"
              (onClick)="editarPromo(promos.copyPromo, promos.idPromo, promos.produtoResponseDto)" severity="secondary"
              class="w-full" styleClass="w-full" />
            <p-button icon="pi pi-trash" (onClick)="apagarPromo(promos.idPromo, promos.urlImagem)" class="w-full"
              styleClass="w-full" />
          </div>
        </ng-template>
      </p-card>
    </div>

  </div>

  <p-dialog header="Cadastrar Promo" [modal]="true" [draggable]="false" [(visible)]="modal" [style]="{ width: '90%' }">
    <div class="p-2">
      <form class="flex justify-content-around" [formGroup]="produtosSelecionadoGroup">
        <input type="text" placeholder="Copy" pInputText name="copyPromo" formControlName="copyPromo" />
        <p-button label="Salvar" severity="success" (onClick)="salvarPromo()" />
        <p-fileUpload styleClass="mt-2" mode="basic" chooseLabel="Choose" name="demo[]" accept="image/*"
          (maxFileSize)="1000000000000" (onSelect)="onFileChange($event)"></p-fileUpload>
      </form>
    </div>
    <p-pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="Produtos" targetHeader="Selecionados"
      [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '20rem' }" [targetStyle]="{ height: '22rem' }"
      breakpoint="1400px">
      <ng-template let-product pTemplate="item">
        <div class="flex justify-content-around p-2 align-items-center gap-3">
          <img class="w-4rem shadow-2 flex-shrink-0 border-round" [src]="apiUrl+'/produto/download/'+product.imagem"
            alt="" />
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold surface-overlay white-space-nowrap overflow-hidden text-overflow-ellipsis"
              style="width:250px">{{ product.titulo }}</span>
          </div>
          <span class="font-bold text-900">
            {{ product.preco }}
          </span>
          <span class="flex justify-content-center">
            <p-button *ngIf="idEditar != undefined" icon="pi pi-times" (onClick)="apagarProdutoPromo(product.id)"
              severity="danger" />
          </span>
        </div>
      </ng-template>
    </p-pickList>
    <ng-template pTemplate="footer">
      <p-paginator (onPageChange)="onPageChange($event)" [totalRecords]="totalPageProdutos" [first]="0" [rows]="1" [totalRecords]="120"/>
    </ng-template>
  </p-dialog>
</section>
<p-toast></p-toast>
