<div class="section">
  <section class="">
    <div *ngIf="links !== undefined">
      <p-carousel [value]="links.banners" [numVisible]="1" [numScroll]="1" [circular]="true"
        [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
        <ng-template let-item pTemplate="item">
          <div class="surface-border border-round m-2 p-3">
            <div class="">
              <div class="relative mx-auto">
                <a *ngIf="item.link" [href]="item.link" target="_blank">
                  <img *ngIf="item.urlImagem" [src]="apiUrl+'/banners/'+item.urlImagem" [alt]="item.nome"
                    class="w-full border-round desktop" />
                  <img *ngIf="item.urlImagemMobile" [src]="apiUrl+'/banners/'+item.urlImagemMobile" [alt]="item.nome"
                    class="w-full border-round mobile" />
                </a>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <div class="titulo p-2">
      <!-- <div class="pesquisa">
        <input type="search" [(ngModel)]="termoPesquisa" (keyup.enter)="pesquisar()" placeholder="Procurar Promoções">
      </div> -->

      <div>

        <div class="bg-white shadow-1 lg:hidden border-round-2xl p-3">
          <p class="radar text-base mb-1 mt-0">Categorias mais acessadas</p>
          <div class="flex scroll-container gap-2">
            @for (item of acessosPorCategoria; track $index) {
              <a href="produtos-categoria/{{item.categoriaId}}" class="bg-gray-300 text-base capitalize border-round whitespace-nowrap inline-flex min-w-max p-1">{{ item.nomeCategoria }}</a>
            }
          </div>
        </div>
      </div>

      <div class="radar mb-1">
        <p>
          Radar de Ofertas
        </p>
      </div>
    </div>

    <div class="grid p-2 mb-7 w-full">
      <ng-container *ngFor="let item of produtos; let i = index">

        <div *ngIf="i === 4 || (i > 4 && (i - 4) % 12 === 0)" class="card-convite">
          <p>Economize Recebendo todas as Promoções Relâmpago em Tempo Real</p>
          <a *ngIf="links !== undefined" [href]="links.links.whatsapp">
            <i class="pi pi-whatsapp"></i>
            Participar do Grupo
          </a>
        </div>

        <div class="col-6 md:col-4 p-1 lg:col-3">
          <app-produto-card [item]="item"></app-produto-card>
        </div>
    
      </ng-container>
    </div>

  </section>

  <div class="publicidade">
    <div>
      <a href="{{ links.links.outros }}" target="_blank">
        <img
          src="../../../assets/img/Story Instagram black friday neon (600 x 600 px) (1080 x 1080 px) (330 x 40_20241212_223229_0000.png"
          alt="" srcset="">
      </a>
    </div>
  </div>
</div>