<section>
  <div class="header">
    <div>
      <p>Resultados para: {{ termoPesquisa }}</p>
      <p class="mobile">/ {{ totalItens }} Resultados encontrados</p>
    </div>
  </div>

  <div class="container">
    <div class="lista-de-produtos" *ngFor="let item of produtos">
      <div class="card">
        <div *ngIf="item.imagem != undefined" class="img">
          <a routerLink="/oferta/{{ item.id }}">
            <img [src]="apiUrl+'/produto/download/'+item.imagem" alt="{{ item.titulo }}">
          </a>
        </div>

        <div class="loja" *ngIf="item.loja !== null">
          <img [src]="apiUrl+'/loja/mostar-imagem/'+item.loja.urlImagem" alt="{{item.loja.nome_loja}}" />
        </div>

        <div class="info">
          <p class="data">{{calculateElapsedTime(item.dataCriacao)}}</p>
          <a routerLink="/oferta/{{ item.id }}">
            <p class="nome-produto">{{ item.titulo }}</p>
          </a>

          <div (click)="copiarParaAreaTransferencia(item.cupom)" class="cupom">
            <div>
              <i *ngIf="item.cupom && item.cupom.length < 18" class="pi pi-copy"></i>
              <p *ngIf="item.cupom && item.cupom.length < 18">Cupom: {{ item.cupom }}</p>
            </div>
          </div>
          <div class="frete">
            <i *ngIf="item.freteVariacoes && item.freteVariacoes.length < 48" class="pi pi-truck"></i>
            <p *ngIf="item.freteVariacoes && item.freteVariacoes.length < 48">{{ item.freteVariacoes.replaceAll('*','') }}</p>
          </div>
          <a routerLink="/oferta/{{ item.id }}">
            <p id="preco">{{ item.preco }}</p>
          </a>
          <div class="ir-loja">
            <a href="{{ item.link }}" (click)="abrirModal($event, item.cupom, item.imagem, item.titulo, item.link, item.freteVariacoes, item.id)" target="_blank">Pegar Promoção</a>
            <!-- <a href="{{ item.link }}" target="_blank">Pegar Promoção</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<aside class="modal-informacao" *ngIf="modal">
  <div class="conteudo-modal">
    <div class="flex justify-content-end">
      <i class="pi pi-times cursor-pointer" (click)="fecharModal()"></i>
    </div>
    <div routerLink="/oferta/{{ produtoModalDto.id }}" class="header-modal flex align-items-center justify-content-around">
      <img [src]="apiUrl+'/produto/download/'+produtoModalDto.imagem" alt="imagem-produto">
      <p id="titulo-modal">{{ produtoModalDto.titulo }}</p>
    </div>

    <div class="info-modal">
      <p>Instruções Adicionais</p>
      <P>{{ produtoModalDto.cupomInformacoes == null || produtoModalDto.cupomInformacoes == ''? produtoModalDto.frete : produtoModalDto.cupomInformacoes }}</P>
    </div>

    <a href="{{produtoModalDto.link}}" target="_blank">Pegar Promoção</a>
  </div>

  <div (click)="fecharModal()" class="cursor-pointer backgroud-modal">

  </div>
</aside>
