<section>
  <div class="header">
    <div>
      <p>Resultados para: {{ termoPesquisa }}</p>
      <p class="mobile">/ {{ totalItens }} Resultados encontrados</p>
    </div>
  </div>

  <div class="grid lg:w-11 w-full ">
    <div *ngFor="let item of produtos" class="col-6 p-1 sm:col-6 md:col-4 lg:col-3 xl:col-2">
      <app-produto-card [item]="item"></app-produto-card>
    </div>
  </div>
</section>

<aside class="modal-informacao" *ngIf="modal">
  <div class="conteudo-modal">
    <div class="flex justify-content-end">
      <i class="pi pi-times cursor-pointer" (click)="fecharModal()"></i>
    </div>
    <div routerLink="/oferta/{{ produtoModalDto.id }}" class="header-modal flex align-items-center justify-content-around">
      <img [src]="apiUrl+'/produto/download/'+produtoModalDto.imagem" alt="imagem-produto">
      <p id="titulo-modal">{{ produtoModalDto.titulo }}</p>
    </div>

    <div class="info-modal">
      <p>Instruções Adicionais</p>
      <P>{{ produtoModalDto.cupomInformacoes == null || produtoModalDto.cupomInformacoes == ''? produtoModalDto.frete : produtoModalDto.cupomInformacoes }}</P>
    </div>

    <a href="{{produtoModalDto.link}}" target="_blank">Pegar Promoção</a>
  </div>

  <div (click)="fecharModal()" class="cursor-pointer backgroud-modal">

  </div>
</aside>
